<div class="container">
    <!--The content below is only a placeholder and can be replaced.-->
    <div style="text-align:center">
        <h2>
            Welcome to {{ title }}!
        </h2>
        <img width="300" alt="Angular Logo"
             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
    <div class="alert alert-primary" role="alert">
        Here you can upload your file:
    </div>
    <app-alert-message></app-alert-message>
    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputMediaFileAddon01">Upload</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputMediaFile01"
                       aria-describedby="inputMediaFileAddon01" name="fileList" required [(ngModel)]="this.fileList"
                       #file="ngModel">
                <label class="custom-file-label" for="inputMediaFile01">Choose file</label>
            </div>
            <div *ngIf="file.invalid && (file.dirty || file.touched)" class="input-group-append">
                <span class="input-group-text alert-danger" *ngIf="file.errors.required">
                    You must choose a file.
                </span>
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="exampleInputEmail1">Description</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Description" aria-label="Description"
                       aria-describedby="basic-addon1" name="fileDescription" required
                       [(ngModel)]="this.fileDescription"
                       #description="ngModel">
                <div *ngIf="description.invalid && (description.dirty || description.touched)"
                     class="input-group-append">
                <span class="input-group-text alert-danger" *ngIf="description.errors.required">
                    Description is required.
                </span>
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="exampleInputEmail1">Email address</label>
            <div class="input-group mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Enter email" name="fileSenderEmail" required email
                       [(ngModel)]="this.fileSenderEmail"
                       #email="ngModel">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="input-group-append">
                    <span class="input-group-text alert-danger" *ngIf="email.errors.required">
                        Email is required.
                    </span>
                    <span class="input-group-text alert-danger" *ngIf="email.errors.email">
                        Email field is must be a valid e-mail address.
                    </span>
                </div>
            </div>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
            </small>
        </div>
        <button class="btn btn-primary" [disabled]="!email.valid||!description.valid||!file.valid" (click)="uploadFileToActivity()">Submit</button>

    </form>

    <router-outlet></router-outlet>
</div>